*{
padding:0;
margin:10;
	
}

html{
font-size:62.5%;
background-color:#22313F;
}

h1{
padding:1rem;
color: maroon;
font-size:2.5rem;
text-align:left;
}
h2{
padding:1rem;
color: white;
font-size:40px;
text-align:left;
font-size:2rem;
}
p{
padding:1rem;
color:white;
font-size:1.5rem;

}

ul {
 padding:0;
 margin-top:1rem;
 margin-right:5rem;
 list-style-type:none;
float:right;
		
 }
li {
 margin-left:2px;
 float:left;
color:white;
padding:1rem;
margin:auto;
font-size:2rem;

 }

 

.aligne{
display : flex;
flex-wrap:wrap;
justify-content:center;
text-align:center;

}

.blocImage{
width: 40rem;
height:auto;
line-height:5rem;
text-align:center;background-color:#2C3E50;
border:white red 1rem ;
margin:1rem auto;
padding:10;
}
header img{

height:auto;
margin-left:5rem;
margin-top:1rem;
width:10rem;
}

.blocImage h2{
text-align:center;
}

.blocImage img{
width:10rem;
height:10rem;
}


#banniere{
display:block;
background-image:url('../img/banner.jpg');
background-position:center center;
height:30rem;
width:auto;
background-size:cover;
margin-bottom:1rem;
margin-left:5rem;
margin-right:5rem;
margin-top:1rem;
}


input{
display:block;
margin:0.5rem auto 0.5rem auto;
width: 30rem;
padding:2px
}

#map,#formulaire{

width:50%;
margin:0 auto;
}
#map h2,#formulaire h2{

text-align:center;
}


iframe{
width:80%;
height:30rem;
}
#footer{
margin:5rem;
border-top: 0.2rem solid white;
}
#footer p{
float:right;
padding-right:1rem;

}
