[Desktop Entry]
Encoding=UTF-8
Name=Lien vers http://applicook.fr/iut/images/logo-iut.jpg
Type=Link
URL=http://applicook.fr/iut/images/logo-iut.jpg
Icon=text-html
